
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');



:root{
    --color-primary: rgb(12, 58, 49);
    --color-off-white: white;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
 font-family: 'Fira Sans', sans-serif;
 font-size: 0.9rem;
 font-weight: 300;
 /* min-height: 100vh; */
}

.background-text{
    color: #fcf7f0;
}

.tree-bg{
    background-image: url('../images/tree-background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: calc(100vh - 50px);

}

.script-text{
    font-family: 'Cinzel Decorative', cursive;
}
.script-text-2{
    font-family: 'Cinzel', serif;
}

.big-text-p{
    font-size: 1.3rem;
    font-weight: 400;
}

.opacity{
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: rgba(255, 255, 255, 0.9) 10px 10px 28px, rgba(255, 255, 255, 0.9) -10px -10px 28px ;
}

.btn-primary-lt{
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    background-color:var(--color-off-white) ;

}

.btn-primary-lt:hover{
    background-color: var(--color-primary);
    color: var(--color-off-white);
    border: 2px solid var(--color-off-white)

}

.btn-primary-lt:focus{
    background-color: var(--color-primary);
    color: var(--color-off-white);
    border: 2px solid var(--color-off-white);
    box-shadow: none;
}



.btn-primary-drk{
    color: var(--color-off-white);
    background-color:var(--color-primary);
    border: 2px solid var(--color-off-white)
}

.btn-primary-drk:hover{
    color: var(--color-primary);
    background-color: var(--color-off-white);
    border: 2px solid var(--color-primary)
}

.btn-primary-drk:focus{
    color: var(--color-primary);
    background-color: var(--color-off-white);
    border: 2px solid var(--color-primary);
    box-shadow: none;

}

.bx-shad {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    background-color: var(--color-off-white);
}


/* NAVBAR */

.navbar123{
    display: flex;
    align-items: center;
    position: sticky;
    border-bottom: 2px solid var(--color-primary);
    width: 100vw;
    height: 50px;
    background-color: white;
    z-index: 3;
}

.navbar-logo{
    padding-top: 5px;
    height: 100%;
}

.navbar-links {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    align-items: center;
    text-align: center;
}

.nav-link{
    text-decoration: none;
    color: black; 
    width: 33.3%;
    transition: transform .3s;

}

.nav-link:hover{
    color: black;
    transform: scale(1.2);
}

/* HOMEPAGE */

.pic-collage img{
    border-radius: 10%;
    width: 90%;
    margin: 2%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}







/* SERVICES */



.service-card-dk {
    background-color: rgb(12, 58, 49, 0.9);
    color: var(--color-off-white);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.service-card-lt {
    background-color: rgb(255, 255, 255, 0.9);
    color: black;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


.form-control{
    font-weight: 300;
    font-size: 0.9rem;
    color: black;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 0.3rem rgb(255 255 255 / 25%);
}

.form-label{
    font-weight: 400;
}

.form-card-dk{
    background-color: rgb(12, 58, 49, 0.9);
    color: var(--color-off-white);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 2%;
}

.icon-drk{
    color: black;
    background-color: white;
    border: none;
    margin: 5px 10px;
    transition: transform .3s;
}

.icon-drk:hover{

    transform: scale(1.2);
}


.family-member ul{
    list-style-type: none;
}

